.card {
  width: 400px;
  padding: 20px;
  border: 1px solid rgb(235, 231, 231);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(221, 221, 221);
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.411);
  outline: none;
}

input[type="submit"] {
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin: auto;
}
